<?xml version="1.0"?>
<robot name="sensor_rplidar" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find turtlebot_uvc_description)/urdf/turtlebot_gazebo.urdf.xacro"/>
  <xacro:include filename="$(find turtlebot_uvc_description)/urdf/turtlebot_properties.urdf.xacro"/>

  <!-- Xacro properties -->
  <xacro:property name="lidar_px"       value="0"/>
  <xacro:property name="lidar_py"       value="0" />
  <xacro:property name="lidar_pz"       value="0.16" />
  <xacro:property name="lidar_angulo"   value="0" />
  <!-- Parameterised in part by the values in turtlebot_properties.urdf.xacro -->
  <xacro:macro name="sensor_rplidar" params="parent">

    <joint name="rplidar_joint" type="fixed">
      <origin xyz="${lidar_px} ${lidar_py} ${lidar_pz}"
              rpy="0 0 ${lidar_angulo}"/>
      <parent link="${parent}"/>
      <child link="rplidar_frame" />
    </joint>
    <link name="rplidar_frame">
      <visual>
        <geometry>
          <box size="0.05 0.05 0.05"/>
        </geometry>
        <material name="Red"/>
      </visual>
      <inertial>
        <mass value="0.1"/>
        <origin x="0 0 0"/>
        <inertia ixx="0.01" ixy="0.0" ixz="0.0"
          iyy="0.01" iyz="0.0"
          izz="0.01"/>
      </inertial>
    </link>

    <!-- RPLIDAR for simulation -->
    <xacro:rplidar_sim/>

  </xacro:macro>
</robot>